.pic1{
    height: 350px;
    width:350px;
    float: left;
    margin-top: 10px;
    border: 2px solid white;
    margin-left: 10px;
    text-align: center;
}
.pic2 {
    height: 350px;
    width:350px;
    float: left;
    margin-top: 10px;
    border: 2px solid white;
    margin-left: 10px;
    text-align: center;
}
.pic3 {
    height: 350px;
    width:350px;
    float: left;
    margin-top: 10px;
    border: 2px solid white;
    margin-left: 10px;
    text-align: center;
}